In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle as pkl

Matplotlib is building the font cache; this may take a moment.

In [2]:
dataset = pd.read_csv('insurance.csv')

In [3]:
# encoding sex column
dataset.replace({'sex':{'male':0,'female':1}}, inplace=True)

# encoding 'smoker' column
dataset.replace({'smoker':{'yes':0,'no':1}}, inplace=True)

# encoding 'region' column
dataset.replace({'region':{'southeast':0,'southwest':1,'northeast':2,'northwest':3}}, inplace=True)

In [4]:
X = dataset.drop(columns='charges', axis=1)
y = dataset['charges']

In [5]:
dataset.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       1  16884.92400
1   18    0  33.770         1       1       0   1725.55230
2   28    0  33.000         3       1       0   4449.46200
3   33    0  22.705         0       1       3  21984.47061
4   32    0  28.880         0       1       3   3866.85520

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.05)

In [7]:
# Fitting Decision Tree Regression to the dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor()

In [8]:
y_pred = regressor.predict(X_test)

In [9]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

     Real Values  Predicted Values
274   2523.16950        2534.39375
533  19214.70553        4646.75900
878   6282.23500        6289.75490
833  11743.93410       11735.87905
405  11396.90020       11411.68500
..           ...               ...
912  14382.70905       14590.63205
811   6360.99360       28476.73499
913   7626.99300        7726.85400
508   3044.21330        3046.06200
217   2483.73600       25081.76784

[67 rows x 2 columns]

In [10]:
regressor.predict([[61,1,29.07,0,0,3]])

array([29141.3603])

In [11]:
print("Predicted Charge: ",regressor.predict(([[19,1,27.9,0,0,1]]))[0])
print("Predicted Charge: ",regressor.predict(([[18,0,33.7,1,1,0]]))[0])
print("Predicted Charge: ",regressor.predict(([[28,0,33.0,3,1,0]]))[0])
print("Predicted Charge: ",regressor.predict(([[33,0,22.7,0,1,3]]))[0])
print("Predicted Charge: ",regressor.predict(([[32,0,28.8,0,1,3]]))[0])

Predicted Charge:  16884.924
Predicted Charge:  1725.5523
Predicted Charge:  4449.462
Predicted Charge:  21984.47061
Predicted Charge:  3866.8552

In [12]:
dataset.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       1  16884.92400
1   18    0  33.770         1       1       0   1725.55230
2   28    0  33.000         3       1       0   4449.46200
3   33    0  22.705         0       1       3  21984.47061
4   32    0  28.880         0       1       3   3866.85520

In [13]:
from sklearn import metrics 
r2_test = metrics.r2_score(y_test,y_pred)
r2_test

0.4670860275745692

In [14]:
from sklearn.metrics import r2_score,mean_squared_error
mse = mean_squared_error(y_test,y_pred)
mse

79222943.56354928

In [15]:
rmse = np.sqrt(mse)
rmse

8900.727136787718

In [16]:
dataset

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       0       1  16884.92400
1      18    0  33.770         1       1       0   1725.55230
2      28    0  33.000         3       1       0   4449.46200
3      33    0  22.705         0       1       3  21984.47061
4      32    0  28.880         0       1       3   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       1       3  10600.54830
1334   18    1  31.920         0       1       2   2205.98080
1335   18    1  36.850         0       1       0   1629.83350
1336   21    1  25.800         0       1       1   2007.94500
1337   61    1  29.070         0       0       3  29141.36030

[1338 rows x 7 columns]

In [17]:
with open ('Charge.pkl' , 'wb') as f:
    pkl.dump(regressor,f)

In [18]:
model = pkl.load(open('Charge.pkl','rb'))